<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="../static/images/pawprints.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap');
    </style>
    <title>Pet's care</title>
</head>
<body>
    <header>
        <div class="floatleft">
            <img class="imagenH" src="static/images/logo.png" width="300px" alt="">
        </div>
        <div class="floatRight">
            <h1>PET'S CARE</h1>
        </div>
        <div class="instagram">
            <a href="https://www.instagram.com/?hl=es" target="_blank" alt=""><img src="/static/images/instagram.png"></a> 
        </div>
        <div class="facebook">
            <a href="https://es-la.facebook.com/" target="_blank"><img src="/static/images/facebook.png" alt=""></a>
        </div>
        <div class="twitter">
            <a href="https://twitter.com/?lang=es" target="_blank"> <img src="/static/images/twitter.png" alt=""></a>
        </div>
        <div class="clear"></div>
    </header>
    <!--<label class="iconomenu" for="menu"><img src="images/iconomenu.png" width="30" alt=""></label>-->
    <main>
        <h2>Inicio de Sesión</h2>
        <form action="inicio_sesion" id="loginform" method="POST">
            <input class="datos" type="email" name="correo" id="correo" placeholder="Correo" required>
            <input class="datos" type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
            <button type="submit" title="Ingresar" name="Ingresar">Iniciar sesión</button>
        </form>
            {% if user!=undefined %}
            {% if user==None %}
                <label style="color: aliceblue;">Usuario no encontrado, intentelo nuevamente</label>
            {%endif%}
            {%endif%}
        {% if mensaje!=undefined %}
        <p class="mensaje">{{ mensaje }}!!</p>
        {% endif %}
        <p class="pRegistro">Registrate como:</p>

        <div class="registro">
            <form action="/registrar">
                <button type="submit" title="registro" name="registro">Usuario</button> o
            </form>
        </div>
        <div class="registro2">
            <form action="registro_clinica">
                <button type="submit" title="registro" name="registro">Clínica V</button>
            </form>
        </div>
            
        
        
    </main>
</body>
</html>